body {
    background-color: rgb(29, 185, 84);    
}

header {
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#title {
    font-size: 2em;
}



nav ul{
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul a {
    color: #ffffff;
    padding: 1rem;
    border: 2px solid #b7facf;
    border-radius: 2rem;
}

#releases-grid {
    display: inline-grid;
    column-gap: 0.5rem;
    grid-template-columns: auto auto auto;
    list-style: none; /*Listelemt (den punkt) entfernen*/
}

#releases-grid img {
    width: 12rem;
}

footer {
background-color: #b7facf;
padding: 2rem;
border-radius: 1rem 1rem;
}